extends ../includes/layout.pug
include ../includes/components/image.pug
include ../includes/components/image_webp.pug

block metatags
  -var title = 'Boilerplate Frontend'
  -var description = 'Boilerplate para el desarrollo de proyectos Frontend'
  title= title
  meta(name="description", content=description)
  meta(name="application-name", content=title)
block content
  main.App
    h1.App-title= title
    i.fa.fa-smile-o.fa-5x
    img.App-logo(src="./images/lucotmo-logo.png")
    p.App-title con
    article.App-logos
      div
        img(src="./images/Bloques-de-madera.jpg")
      div
        img(src="./images/Caja-de-los-recuerdos-deportivos.jpg")
      div
        img(src="./images/lucotmo.png")
    //-p
      b
        a.u-download(href="#", target="_blank") #[i.fa.fa-download] Descarga este Boilerplate #[i.fa.fa-download]
    +image('lucotmo.png', [ ['lucotmo-logo.png', '(min-width: 64em)'], ['lucotmo.png', '(min-width: 48em)'] ])
    +imageWebp('productos')
    //-div.App-video
      +youtubeVideo('nyC6vSwwtEs')
    //-h2 Hola Chic@s delcurso CSS Avanzado
